body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h1 {
    /* position: relative; */
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    width: 70%;
    margin-left: 15%;
    margin-top: 20%;
}
  /* the following code was from a card template
  /* On mouse-over, add a deeper shadow 
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.question {
    font-weight: bold;
    margin-bottom: 10px;
}
.options {
    margin-bottom: 20px;
}
.option {
    display: block;
    margin-bottom: 10px;

}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ae81cd;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
.button:hover {
    background-color: #6d357a;
}
.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
.hide {
    display: none;
}

